@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


  /* For WebKit Browsers */
  ::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00829C;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #00829C;
  }
  
    